.selectBox {
    position: relative;
    width: 50%;
    select {
        height: 40px;
        background-color: #fff;
        border-radius: 4px;
        margin-bottom: 10px;
        padding-left: 20px;
        width: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 13px;
        bottom: auto;
        width: 10px;
        height: 10px;
        transform: rotate(225deg);
        border-left: solid 3px #aaa;
        border-top: solid 3px #aaa;
    }
}  
