.firstView {
  background-size: cover;
  height: 488px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  .imageFilter {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .innerBox {
    width: 90%;
    max-width: 1200px;
    height: 320px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.89);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .innerBoxLeft {
      max-width: 405px;
      width: 100%;
      margin-right: 50px;
    }
    .innerBoxRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .eventHoldingPeriod {
      font-family: 'Kosugi Maru';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .eventTitle {
      font-family: 'Kosugi Maru';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 24px;
    }
    .eventApplicationPeriod {
      color: #ec4d4d;
      font-family: 'Kosugi Maru';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 24px;
    }
  }
}
.inner {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 30px;
}

@media (max-width: 768px) {
  .firstView {
    height: 580px;
    .innerBox {
      flex-direction: column;
      padding: 15px;
      height: 500px;
      .eventHoldingPeriod {
        font-size: 18px;
      }
      .innerBoxLeft {
        margin-right: 0;
      }
      .innerBoxRight {
        padding: 20px 0 0 0;
        align-items: center;
      }
    }
  }
}
