body {
  color: #111111;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    'BIZ UDPGothic', Meiryo, sans-serif;
  letter-spacing: 0.6px;
}
a {
  transition: 0.4s;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}
