
.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-top:30px;
}
.h2 {
    font-size: 30px;
    text-align: left;
    line-height: 50px;
    color: rgb(109,123,247);
    padding-top: 10px;
    padding-bottom: 10px;
}
.p {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}
.listQuestion {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}
.listAnswer {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}
.strong {
    font-weight: bold;
}
.aboutFushigiRtaFes {
    display: block;
    font-weight: bold;
    background-color: #eee;
    color: #444;
    padding: 30px;
    line-height: 24px;
    font-size: 16px;
    margin: 20px 0;
    border-radius: 5px;
}