.discordLinkButton {
  display: flex;
  align-items: center;
  max-width: 500px;
  height: 137px;

  background: #5865f2;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 20px;
  padding-left: 28px;
  p.server {
    margin-left: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #ffffff;
  }
  .discordIcon {
    width: 88px;
    color: #ffffff;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .discordLinkButton {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    p.server {
      font-size: 20px;
      margin-left: 20px;
    }
  }
}
