.smallDiscordLinkButton {
  display: flex;
  align-items: center;
  max-width: 320px;
  height: 80px;

  background: #5865f2;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 20px;
  padding-left: 16px;
  p.server {
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;

    color: #ffffff;
  }
  .discordIcon {
    width: 50px;
    color: #ffffff;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .discordLinkButton {
    width: 100%;
    p.server {
      font-size: 20px;
      margin-left: 20px;
    }
  }
}
