.eventArchiveContent {
  background: #ffffff;
  padding: 20px;
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #000000;
  }
  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
  }
  a {
    text-decoration: none;
  }
  .thumbnail {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .eventArchiveContent {
    width: 100%;
    margin-bottom: 30px;
  }
}
