
.headerTop {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(112,182,169);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    a {
        text-decoration: underline;
        color: #fff;
    }
}

.headerBottom {
    height: 64px;
    background: #343438;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
    }
    ul{
        display: flex;
        li a{
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
        }
    }
    
    .h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 13px;
    }
    .headerBottomLeft{
        display: flex;
        align-items: center;
    }
    .headerBottomInner {
        width: 95%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
}

.hamburgerMenu {
    display: none;
}

@media (max-width : 768px) {
    .hamburgerMenu {
        display: block;
    }
    .headerTop {
        padding: 20px 60px 20px 20px;
    }
    .headerBottom {
        display: none;
    }
    .hamburgerMenuIcon {
        position: fixed;
        right: 10px;
        top: 10px;
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 10;
        background-color: #fff;
        padding: 9px 7px;
        border-radius: 18px;
        box-shadow: 3px 3px 2px 1px rgba(0,0,0,.3);
        transition: .4s;
        z-index: 12;
        span{
            display: block;
            height: 2px;
            width: 22px;
            background-color:#585858;
        }
    }
    .active {
        .hamburgerMenuIcon {
            box-shadow: none;
            background-color: transparent;
        }
        .hamburgerMenuIcon span {
            background-color: #fff;
        }
        .hamburgerMenuList {
            top:0;
        }
    }
    .hamburgerMenuList {
        transition: .4s;
        position: fixed;    
        background: #343438;
        right: 0;
        top:-300px;
        a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            margin: 20px;
        }
    }

    .overlay {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left:0;
        top:0;
        z-index: 10;
        pointer-events: none;
    }
}