.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 234px;
  height: 52px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
