.twitterShareArea {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  span.share {
    color: #777777;
    font-weight: 700;
    padding-right: 10px;
  }
}
