.inner {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.officialLink {
  padding: 60px 0;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.officialLink .officialLinkFlex {
  max-width: 980px;
  margin: 0 auto;
  padding: 87px 0;
  display: flex;
  justify-content: space-between;
  .officialLinkFlexContent {
    width: 46%;
  }
}

@media (max-width: 768px) {
  .officialLink .officialLinkFlex {
    flex-direction: column;
    .officialLinkFlexContent {
      &:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      width: 100%;
    }
  }
  .officialLink {
    padding: 0px 0 0;
    .officialLinkFlex {
      padding: 50px 0;
    }
  }
}
